<ion-content>
 
  <div class="content">

      <div class="box-contet">
          <a (click)="salirModalRemember()" class="btn-exit"></a>
          <div class="logo-leyent"></div> 
          <div class="icon-email"></div> 
          <div class="box-leyent-msg">
              {{ "leyent_remember" | translate }}
          </div>
          <div class="box-input">
            <input class="input-color" type="email">
            <ion-button class="btn-plane-orange" expand="full">{{ "send" | translate }}</ion-button>
          </div>
      </div>
  </div>

</ion-content>
