<ion-content>
 
  <div class="content">

      <div class="box-contet">
          <a (click)="salirModal()" class="btn-exit"></a>
          <div class="logo-leyent"></div> 
          <div class="box-info">
            <table>
                  <tr>
                    <td>Aquesta es una aplicació pels clients de Social Partners. 
                      Contacta amb nosaltres:</td>
                  </tr>
                  <tr>
                    <td><img src="../../../assets/images/market.svg" width="36" height="36" style="margin-top: 20px;" /></td>
                  </tr>
                  <tr>
                    <td>Passeig Verdaguer 171,
                      Igualada 08700
                      Barcelona</td>
                  </tr>
                  <tr>
                    <td><img src="../../../assets/images/tel.svg" width="36" height="36" style="margin-top: 20px;" /></td>
                  </tr>
                  <tr>
                    <td><a href="tel:+34938050537"> +34 93 805 05 37</a></td>
                  </tr>
                  <tr>
                    <td><img src="../../../assets/images/email2.svg" width="36" height="36" style="margin-top: 20px;" /></td>
                  </tr>
                  <tr>
                    <td><a href="mailto:info@socialpartners.org">info@socialpartners.org</a></td>
                  </tr>
                  <tr>
                    <td><img src="../../../assets/images/globe.svg" width="36" height="36" style="margin-top: 20px;" /></td>
                  </tr> 
                  <tr>
                    <td><a href="https://www.socialpartners.org">www.socialpartners.org</a></td>
                  </tr>
            </table>
            

          </div>
          
      </div> 
  </div>

</ion-content>
